.model_bg{
    position:fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6); /*#808080*/
    z-index: 999;
    display: none;
}
.mark {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 200px;
    left: 0;
    margin: auto;
    height: 11rem;
    line-height: 0.88rem;
    width: 20%;
    font-size: 18px;
    color: #fff;
    background: #FFFFFF;
    border: 3px #EEEEEE solid;
    border-radius: 0.1rem;
    z-index: 1000;
}
.title{
    background: #385B70;
    width: 100%;
    margin: 0px;
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
}
.delete{
    float: right;
    font-size: 25px;
    margin-right: 6px;
    cursor: pointer;
}
.tipContent{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}
.btn{
    text-align: center;
    padding-top: 50px;
    width: 100%;
}

.btn div{
    float: left;
    height: 30px;
    width: 100px;
    border-radius:15px;
    line-height: 30px;
    margin-left: 55px;
    cursor: pointer;
}

.cancel{
    border: 1px #385B70 solid;
    color: black;

}
.confirm{
    border: 1px darkred solid;
    background: darkred;
}
